html {
  box-sizing: border-box;
}

:root {
  --color-text: #212121;
  --background-color-heroes: #2f303a;
  --border-buttom-header-color: #ececec;
  --background-color-header: #ffffff;
  --background-color-team: #f5f4fa;
  --color-pseudoclase: #2196f3;
  --color-link: #757575;
  --item-products-border: #eeeeee;
  --background-color-icons-footer: rgba(255, 255, 255, 0.1);
  --color-icons: rgba(117, 117, 117, 1);
  --background-color-heroes-degrade: rgba(47, 48, 58, 0.4);
  --background-color-box-products-hover: gba(33, 150, 243, 0.9);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
/* Estilos para poner a cero la sangría superior de los elementos */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
/* Clase para restablecer las propiedades básicas de las listas (ul) */
ul {
  list-style: none;
  padding-left: 0;
  text-decoration: none;
  margin: 0;
}
/* Clase para restablecer las propiedades básicas de los enlaces */
a {
  text-decoration: none;
  color: inherit;
}
/* Propiedades para la correcta visualización de las imágenes */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Propiedad para anular la cursiva en address */

address {
  font-style: normal;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

/* header BEM */

.header {
  display: flex;
  background-color: var(--background-color-header);
  border-bottom: 1px solid var(--border-buttom-header-color);
}

.div {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.div--flex {
  display: flex;
}

.header__a {
  text-decoration: none;
}

.header__a--logo {
  color: var(--color-pseudoclase);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1em;
  letter-spacing: 0.03em;
  text-align: right;
  padding: 30px 0px;
  margin-right: 93px;
}

.header__ul--nav {
  display: flex;
  padding: 30px 0px;
  margin-right: 300px;
}

.header__li {
  display: flex;
}

.header__li:not(:last-child) {
  margin-right: 50px;
}

.header__a--nav {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7em;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header__a--primary {
  color: var(--color-pseudoclase);
  position: relative;
}

.header__a--primary::after {
  content: '';
  position: absolute;
  left: 0px;
  top: calc(100% + 26px);
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.header__a:hover,
.header__a:focus {
  color: var(--color-pseudoclase);
}

.header__ul {
  display: flex;
  padding: 30px 0px;
}

.header__svg {
  fill: var(--color-icons);
  cursor: pointer;
}

.header__svg--primary {
  height: 12px;
  width: 16px;
  margin-right: 10px;
  margin-top: 5px;
}

.header__svg--secondary {
  height: 16px;
  width: 10px;
  margin-top: 4px;
  margin-right: 10px;
  margin-top: 5px;
}

.header__a--link {
  color: var(--color-link);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7em;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header__li:hover .header__a {
  color: var(--color-pseudoclase);
}

.header__li:hover .header__svg {
  fill: var(--color-pseudoclase);
}

.section {
  background-image: linear-gradient(rgba(35, 39, 50, 0.6), rgba(5, 7, 12, 0.6)),
    url(../images/Imagen.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
}
.section__h1 {
  color: white;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.section__button {
  margin: auto;
  gap: 10px;
  padding: 10px 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
  background-color: var(--color-pseudoclase);
  color: var(--background-color-header);
}

#modal {
  position: relative;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 40px;
  overflow: auto;
}

.section__svg {
  padding: 9px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.section__svg:hover,
.section__svg:focus {
  fill: var(--color-pseudoclase);
}

.section__h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-bottom: 20px;
  height: 23px;
  width: 448px;
  margin-top: 3px;
}

.section__form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 0.8;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__div {
  position: relative;
  margin-top: 4px;
}

.form__div--item {
  position: absolute;
}

.form__div:hover,
.form__svg:hover {
  fill: var(--color-pseudoclase);
}

.form__div:hover,
.form__input:hover {
  border-color: var(--color-pseudoclase);
}

.form__svg {
  margin: 10px 15px;
}

.form__svg--primary {
  height: 12px;
  width: 12px;
}

.form__svg--secondary {
  height: 13px;
  width: 13px;
}

.form__svg--terciary {
  height: 12px;
  width: 15px;
}

.form__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
}

.form__div--textarea {
  margin-top: 4px;
  flex-direction: column;
}

.form__textarea {
  resize: none;
  padding: 12px 16px;
  height: 120px;
  width: 448px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form__textarea:hover,
.form__textarea:focus {
  border: 1px solid var(--color-pseudoclase);
}

.form__div--condition {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}

.form__input--condition {
  margin-top: 3px;
  height: 15px;
  width: 16px;
  border-radius: 2px;
}

.form__p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--color-link);
  margin-left: 7px;
}

.form__div--send {
  display: flex;
  position: absolute;
  right: 175px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 15px;
}

.form__input--send {
  line-height: 1.88;
  background: var(--color-pseudoclase);
  color: white;
  border-radius: 4px;
  border: none;
  padding: 10px 75px;
}

.form__input--send:hover,
.form__input--send:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

#btn-close-modal {
  background-color: #ffffff;
  position: absolute;
  right: 8px;
  top: 8px;
  border: none;
  cursor: pointer;
}

.section-secondary {
  padding-top: 95px;
  padding-bottom: 94px;
}

.section-secondary__ul {
  display: flex;
  gap: 30px;
}

.section-secondary__li {
  flex-basis: calc((100%-90px) / 4);
}

.section-secondary__div {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: inline-flex;
}

.section-secondary__svg {
  padding: 25px 100px;
  fill: var(--color-icons);
  cursor: pointer;
}

.section-secondary__svg:hover {
  fill: #2196f3;
}

.section-secondary__h3 {
  color: var(--color-text);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 10px;
}

.section-secondary__p {
  color: var(--color-link);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: left;
}

.section-terciary {
  margin: auto;
  mix-blend-mode: normal;
}
.section-terciary__h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 55.05px;
}
.section-terciary__ul {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 30px;
}
.section-terciary__li {
  width: 373px;
  height: 323px;
  position: relative;
}
.section-terciary__img {
}
.section-terciary__div {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}
.section-terciary__p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color-header);
  padding: 27px 79px;
}

.section-quarter {
  margin-top: 94px;
  background-color: var(--background-color-team);
}

.section-quarter__h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  margin: auto;
  padding-top: 94px;
}

.section-quarter__ul {
  display: flex;
  margin-top: 50px;
  padding-bottom: 94px;
  gap: 30px;
}

.section-quarter__li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: white;
}

.section-quarter__img {
}

.section-quarter__h3 {
  color: var(--color-text);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 30px;
}

.section-quarter__p {
  color: var(--color-link);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 10px;
}

.section-quarter__div {
  display: flex;
  padding-top: 16px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.section-quarter__div--svg:hover .section-quarter__a {
  background-color: var(--color-pseudoclase);
}

.section-quarter__div--svg:hover .section-quarter__svg {
  fill: var(--background-color-header);
}

.section-quarter__a {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.section-quarter__a:hover {
  background-color: var(--color-pseudoclase);
}

.section-quarter__svg {
  height: 20px;
  width: 20px;
  fill: var(--color-icons);
  cursor: pointer;
}

.section-quarter__svg:hover {
  fill: var(--background-color-header);
}

/* header */

/* De aqui para abajo esta todo lo anterior que 
corresponde a las actividades anteriores como lo 
es desde la actividad 1 hasta la actividad 6 */

.nav__link--portafolio {
  color: var(--color-pseudoclase);
  position: relative;
}

.nav__link--portafolio::after {
  content: '';
  position: absolute;
  left: 0px;
  top: calc(100% + 26px);
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.section-fifth {
  padding-bottom: 151px;
}
.section-fifth__h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 59px;
  margin-bottom: 44px;
}
.section-fifth__ul {
  gap: 30px;
  display: flex;
}

.section-fifth__a:hover .section-fifth__svg {
  fill: var(--color-pseudoclase);
  border-color: var(--color-pseudoclase);
}

.section-fifth__svg {
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 81px;
  padding: 14px 32px;
  fill: var(--color-icons);
  cursor: pointer;
}

/* Desde este punto se maneja la pagina de portafolio */

/* main section FilterBriefcase */

.container-briefcase {
  background-color: white;
  margin: auto;
}

.set-filter-briefcase {
  display: flex;
  padding-top: 106px;
  align-items: center;
  justify-content: center;
}

.item-filter-briefcase {
  margin-right: 8px;
}

.filter-briefcase {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 6px 24px;
}

.filter-briefcase:hover,
.filter-briefcase:focus {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);

  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);

  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.todo {
  background: var(--color-pseudoclase);
  color: white;
  text-align: center;
}

.filter-briefcase:hover,
.filter-briefcase:focus {
  background: var(--color-pseudoclase);
  color: white;
}

/* main section products */

.set-products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 82px;
  gap: 26px;
}

.item-products {
  background-color: var(--background-color-header);
  border-radius: 4px;
  border: 1px solid var(--item-products-border);
  background-repeat: no-repeat;
}

.item-products:hover {
  background: #ffffff;
  background-repeat: no-repeat;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-duration: 250ms;
}

.box-container-products-hover {
  position: relative;
  width: 370px;
  height: 294px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.item-products:nth-child(1) {
  background-image: url(../images/computerthree.jpg);
}

.item-products:nth-child(2) {
  background-image: url(../images/basketball.jpg);
}

.item-products:nth-child(3) {
  background-image: url(../images/theseafood.jpg);
}

.item-products:nth-child(4) {
  background-image: url(../images/headphones.jpg);
}

.item-products:nth-child(5) {
  background-image: url(../images/thebox.jpg);
}

.item-products:nth-child(6) {
  background-image: url(../images/computer.jpg);
}

.item-products:nth-child(7) {
  background-image: url(../images/magazine.jpg);
}

.item-products:nth-child(8) {
  background-image: url(../images/label.jpg);
}

.item-products:nth-child(9) {
  background-image: url(../images/computertwo.jpg);
}

.item-products:hover .overlay-products-hover {
  top: 0px;
}

.overlay-products-hover {
  position: absolute;
  top: 300px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: white;
  background: rgb(33, 150, 243);
  background: linear-gradient(
    90deg,
    rgba(33, 150, 243, 0.9) 0%,
    rgba(33, 150, 243, 0.9) 100%
  );
}

.box-container-information-products {
  background-color: white;
}

.text-hover-card {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 63px 24px;
}

.title-information {
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.06em;
  text-align: left;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 20px;
}

.contens-information {
  cursor: pointer;
  color: #757575;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  margin-top: 4px;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  background-color: var(--background-color-heroes);
}

.footer__a {
  color: var(--color-pseudoclase);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
  margin-top: 60px;
}

.footer__p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.03em;
  margin-bottom: 2px;
  margin-top: 15px;
}

.footer__ul {
  display: inline-block;
}

.footer__a-ul {
  color: var(--color-link);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  margin-bottom: 47px;
  margin-bottom: 9px;
}

.footer__a-ul:hover,
.footer__a-ul:focus {
  color: var(--color-pseudoclase);
}

.footer__a-ul:active {
  color: var(--color-pseudoclase);
}

.footer__div--svg {
  background-color: var(background-color-icons-footer);
  display: block;
  margin-left: 93px;
}

.div__p {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.div__ul {
  display: flex;
  gap: 10px;
}

.div__div {
  height: 40px;
  width: 40px;
  background-color: var(--background-color-icons-footer);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.div__div:hover {
  background-color: var(--color-pseudoclase);
}

.div__svg {
  height: 20px;
  width: 20px;
  fill: var(--background-color-header);
}

.div-secundary__div--section {
  margin-left: 93px;
}

.div__p--section {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: white;
  margin-bottom: 17px;
}

.div__form--section {
  display: flex;
}

.form-secundary__textarea--comentary {
  resize: none;
  padding: 15px 15px 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: left;
  overflow-y: hidden;
  color: var(--background-color-header);
}

.form-secundary__div--button {
  display: flex;
  margin-left: 20px;
}

.form-secundary__div--send {
  position: relative;
}

.form-secundary__button--button {
  display: flex;
  padding: 10px 40px;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  color: var(--background-color-header);
  background: var(--color-pseudoclase);
  border-radius: 4px;
  cursor: pointer;
}

.form-secundary__p--button {
  color: var(--background-color-header);
}

.form-secundary__svg--button {
  height: 24.000051498413086px;
  width: 23.999996185302734px;
  fill: var(--background-color-header);
  margin-left: 20px;
}

/* Modal-section-heroes */
