$colorText: #212121;
$colorLink: #757575;
$colorIcons: rgba(117, 117, 117, 1);

@mixin Fuentes($argumento1, $argumento2, $argumento3, $argumento4) {
  font-size: $argumento1;
  font-weight: $argumento2;
  line-height: $argumento3;
  letter-spacing: $argumento4;
}

@mixin tamaño($argumento1, $argumento2) {
  width: $argumento1;
  height: $argumento2;
}

.characteristics {
  padding-top: 95px;
  padding-bottom: 94px;

  &__set {
    display: flex;
    gap: 30px;
  }

  &__item {
    flex-basis: calc((100% - 90px) / 4);
  }

  &__container-icon {
    @include tamaño(270px, 120px);
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    display: inline-flex;
  }

  &__icon {
    padding: 25px 100px;
    fill: $colorIcons;
    cursor: pointer;
  }

  &__icon:hover {
    fill: #2196f3;
  }

  &__title {
    @include Fuentes(14px, 700, 1.7em, 0.03em);
    color: $colorText;
    text-align: left;
    margin-bottom: 10px;
  }

  &__text {
    @include Fuentes(14px, 400, 1.7em, 0.03em);
    color: $colorLink;
    text-align: left;
  }
}
