$colorPseudoclase: #2196f3;
$colorIcons: rgba(117, 117, 117, 1);

@mixin Fuentes($argumento1, $argumento2, $argumento3, $argumento4) {
  font-size: $argumento1;
  font-weight: $argumento2;
  line-height: $argumento3;
  letter-spacing: $argumento4;
}

@mixin tamaño($argumento1, $argumento2) {
  width: $argumento1;
  height: $argumento2;
}

.customers {
  padding-bottom: 151px;

  &__title {
    @include Fuentes(36px, 700, 1.5em, 0.03em);
    text-align: center;
    padding-top: 59px;
    margin-bottom: 44px;
  }

  &__set {
    gap: 30px;
    display: flex;
  }

  &__link:hover &__icon {
    fill: $colorPseudoclase;
    border-color: $colorPseudoclase;
  }

  &__icon {
    box-sizing: border-box;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    @include tamaño(170px, 81px);
    padding: 14px 32px;
    fill: $colorIcons;
    cursor: pointer;
  }
}
