$backgroundColorTeam: #f5f4fa;
$colorText: #212121;
$colorLink: #757575;
$colorPseudoclase: #2196f3;
$colorIcons: rgba(117, 117, 117, 1);
$backgroundHeader: #ffffff;

@mixin Fuentes($argumento1, $argumento2, $argumento3, $argumento4) {
  font-size: $argumento1;
  font-weight: $argumento2;
  line-height: $argumento3;
  letter-spacing: $argumento4;
}

@mixin tamaño($argumento1, $argumento2) {
  width: $argumento1;
  height: $argumento2;
}

.equipment {
  margin-top: 94px;
  background-color: $backgroundColorTeam;

  &__title {
    @include Fuentes(36px, 700, 1.5em, 0.03em);
    text-align: center;
    margin: auto;
    padding-top: 94px;
  }

  &__set {
    display: flex;
    margin-top: 50px;
    padding-bottom: 94px;
    gap: 30px;
  }

  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: white;
  }

  &__name {
    @include Fuentes(16px, 500, 1.5em, 0.03em);
    color: $colorText;
    text-align: center;
    padding-top: 30px;
  }

  &__profession {
    @include Fuentes(16px, 400, 1.5em, 0.03em);
    color: $colorLink;
    text-align: center;
    margin-top: 10px;
  }

  &__container-icon {
    display: flex;
    padding-top: 16px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  &__link {
    @include tamaño(40px, 40px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &___link:hover {
    background-color: $colorPseudoclase;
  }

  &__icon {
    @include tamaño(20px, 20px);
    height: 20px;
    width: 20px;
    fill: $colorIcons;
    cursor: pointer;
  }

  &__icon:hover {
    fill: $backgroundHeader;
  }

  &__item-icon--icon:hover &__link {
    background-color: $colorPseudoclase;
  }

  &__item-icon--icon:hover &__icon {
    fill: $backgroundHeader;
  }
}
