$backgroundHeader: #ffffff;
$colorLink: #757575;
$colorPseudoclase: #2196f3;
$backgroundColorIconsFooter: rgba(255, 255, 255, 0.1);
$backgroundHeroes: #2f303a;

@mixin Fuentes($argumento1, $argumento2, $argumento3, $argumento4) {
  font-size: $argumento1;
  font-weight: $argumento2;
  line-height: $argumento3;
  letter-spacing: $argumento4;
}

@mixin tamaño($argumento1, $argumento2) {
  width: $argumento1;
  height: $argumento2;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: $backgroundHeader;
  background-color: $backgroundHeroes;

  &__container {
    margin: auto;
  }

  &__title {
    @include Fuentes(26px, 700, 1em, 0.02em);
    color: $colorPseudoclase;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    cursor: pointer;
    margin-top: 60px;
  }

  &__text {
    @include Fuentes(14px, 400, 1.8em, 0.03em);
    margin-bottom: 2px;
    margin-top: 15px;
  }

  &__set {
    display: inline-block;
  }

  &__link {
    @include Fuentes(14px, 400, 1.7em, 0.02em);
    color: $colorLink;
    margin-bottom: 47px;
    margin-bottom: 9px;
  }

  &__link:hover,
  &__link:focus {
    color: $colorPseudoclase;
  }

  &__link:active {
    color: $colorPseudoclase;
  }
}

.social-networks {
  display: block;
  margin-left: 93px;

  &__title {
    @include Fuentes(14px, 700, 1em, 0.03em);
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__set {
    display: flex;
    gap: 10px;
  }

  &__container-icon {
    @include tamaño(40px, 40px);
    background-color: $backgroundColorIconsFooter;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__container-icon:hover {
    background-color: $colorPseudoclase;
  }

  &__icon {
    @include tamaño(20px, 20px);
    fill: $backgroundHeader;
  }
}

.subscribe {
  margin-left: 93px;

  &__title {
    @include Fuentes(14px, 700, 1em, 0.03em);
    text-align: left;
    color: $backgroundHeader;
    margin-bottom: 17px;
  }

  &__form {
    display: flex;
  }

  &__textarea {
    @include Fuentes(16px, 400, 1.25em, 0.03em);
    resize: none;
    padding: 15px 15px 15px 16px;
    @include tamaño(358px, 50px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: none;
    font-family: Roboto;
    text-align: left;
    overflow-y: hidden;
    color: $backgroundHeader;
  }
}

.subscribe-button {
  display: flex;
  margin-left: 20px;

  &__container {
    position: relative;
  }

  &__button {
    @include Fuentes(16px, 700, 1.8em, 0.06em);
    display: flex;
    padding: 10px 40px;
    align-items: center;
    text-align: center;
    border: none;
    color: $backgroundHeader;
    background: $colorPseudoclase;
    border-radius: 4px;
    cursor: pointer;
  }

  &__text {
    color: $backgroundHeader;
  }

  &__icon {
    @include tamaño(24px, 24px);
    height: 24px;
    width: 24px;
    fill: $backgroundHeader;
    margin-left: 20px;
  }
}
