$colorPseudoclase: #2196f3;
$backgroundHeader: #ffffff;
$colorText: #212121;
$colorLink: #757575;

@mixin Fuentes($argumento1, $argumento2, $argumento3, $argumento4) {
  font-size: $argumento1;
  font-weight: $argumento2;
  line-height: $argumento3;
  letter-spacing: $argumento4;
}

@mixin tamaño($argumento1, $argumento2) {
  width: $argumento1;
  height: $argumento2;
}

#modal {
  position: relative;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 40px;
  overflow: auto;
}

#btn-close-modal {
  background-color: #ffffff;
  position: absolute;
  right: 8px;
  top: 8px;
  border: none;
  cursor: pointer;
}

.modal {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &__label {
    @include Fuentes(12px, 400, 0.8em, 0.01em);
    color: #757575;
  }

  &__container {
    position: relative;
    margin-top: 4px;
  }

  &__child-container--item {
    position: absolute;
  }

  &__icon {
    margin: 12px 15px;
  }

  &__icon--name {
    @include tamaño(12px, 12px);
  }

  &__icon--telephone {
    @include tamaño(13px, 13px);
  }

  &__icon--email {
    @include tamaño(15px, 12px);
    height: 12px;
    width: 15px;
  }

  &__input {
    @include tamaño(448px, 40px);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 42px;
  }

  &__container:hover,
  &__icon:hover {
    fill: $colorPseudoclase;
  }

  &__container:hover,
  &__input:hover {
    border-color: $colorPseudoclase;
  }
}

.comments {
  margin-top: 4px;
  flex-direction: column;

  &__textarea {
    resize: none;
    padding: 12px 16px;
    @include tamaño(448px, 120px);
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__textarea:hover,
  .comments__textarea:focus {
    border: 1px solid $colorPseudoclase;
  }
}

.conditions {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;

  &__checkbox {
    margin-top: 3px;
    @include tamaño(16px, 15px);
    height: 15px;
    width: 16px;
    border-radius: 2px;
  }

  &__text {
    @include Fuentes(14px, 400, 1.5em, 0.03em);
    color: $colorLink;
    margin-left: 7px;
  }
}

.send {
  @include Fuentes(16px, 700, 1.8em, 0.06em);
  display: flex;
  position: absolute;
  right: 175px;
  text-align: center;
  margin-top: 15px;

  &__input {
    line-height: 1.88;
    background: $colorPseudoclase;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 10px 75px;
  }
}
