$backgroundHeader: #ffffff;
$colorLink: #757575;

.products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 82px;
  gap: 26px;

  &__item {
    background-color: var(--background-color-header);
    border-radius: 4px;
    border: 1px solid var(--item-products-border);
    background-repeat: no-repeat;
  }

  &__item:hover {
    background: #ffffff;
    background-repeat: no-repeat;
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition-duration: 250ms;
  }

  &__container-window {
    position: relative;
    width: 370px;
    height: 294px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  &__item:nth-child(1) {
    background-image: url(../images/computerthree.jpg);
  }

  &__item:nth-child(2) {
    background-image: url(../images/basketball.jpg);
  }

  &__item:nth-child(3) {
    background-image: url(../images/theseafood.jpg);
  }

  &__item:nth-child(4) {
    background-image: url(../images/headphones.jpg);
  }

  &__item:nth-child(5) {
    background-image: url(../images/thebox.jpg);
  }

  &__item:nth-child(6) {
    background-image: url(../images/computer.jpg);
  }

  &__item:nth-child(7) {
    background-image: url(../images/magazine.jpg);
  }

  &__item:nth-child(8) {
    background-image: url(../images/label.jpg);
  }

  &__item:nth-child(9) {
    background-image: url(../images/computertwo.jpg);
  }

  &__item:hover &__container-description {
    top: 0px;
  }

  &__container-description {
    position: absolute;
    top: 300px;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: white;
    background: rgb(33, 150, 243);
    background: linear-gradient(
      90deg,
      rgba(33, 150, 243, 0.9) 0%,
      rgba(33, 150, 243, 0.9) 100%
    );
  }

  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    padding: 63px 24px;
  }

  &__container-information {
    background-color: $backgroundHeader;
  }

  &__title {
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.06em;
    text-align: left;
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 20px;
  }

  &__text {
    cursor: pointer;
    color: $colorLink;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: left;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    margin-top: 4px;
  }
}
