:root {
  $colorText: #212121;
  $backgroundHeroes: #2f303a;
  $colorBorderButtonHeader: #ececec;
  $backgroundHeader: #ffffff;
  $backgroundColorTeam: #f5f4fa;
  $colorPseudoclase: #2196f3;
  $colorLink: #757575;
  $itemProductsBorder: #eeeeee;
  $backgroundColorIconsFooter: rgba(255, 255, 255, 0.1);
  $colorIcons: rgba(117, 117, 117, 1);
  $backgroundColorHeroesDegrade: rgba(47, 48, 58, 0.4);
  $backgroundColorBoxProductsHover: gba(33, 150, 243, 0.9);
}
